{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "useTabs": false,
  "printWidth": 80,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}
